@media(max-width:500px){
    header{
        padding: 25px 4%;
        transition: .3s;
    }
    section{
        padding: 60px 4%;
        transition: .3s;
    }
    .navmenu{
       position: fixed;
       background: red;
       display: block;
       top: 0;
       width: 250px;
       height: 100%;
       right:-100%;
       transition: 1s;
    }
    .navmenu.active{
        right: 0;
    }
    .navmenu .close{
        display: block;
        font-size: 30px;
    }
    .btn-icon .nav-btn{
        display: none;
    }
    .bar{
        display: block;
    }
    .home {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
.home-img img {
    z-index: var(-1);
}

}
@media(max-width:500px){
    .home{
        grid-template-columns: 1fr;
        height: 100%;
        transition: .3s;
    }
    .home-text{
        padding-top: 100px;
        text-align: center;
        transition: .3s;
        
    }
    .home-img img{
        padding-top: 50px;
        /* text-align: center; */
        transition: .3s;
        
    }
}
@media(max-width:500px){
    .home-text h1{
       font-size: 56px;
        transition: .3s;
        
    }
    .home-text h4{
        font-size: 18px;
         transition: .3s;
         
     }
     .home-text p{
        font-size: 15px;
         transition: .3s;
         
     }
     .center-text h2{
        font-size: 40px;
        /* width: 100%; */
        /* margin-bottom: 10px; */

     }

}
@media(max-width:500px){
    .home-text h1{
        font-size: 40px;
         transition: .3s;
         line-height: 50px;
         transition: .3s;
         
     }
     .home-text p{
        font-size: 12px;
         transition: .3s;
         
     }
     .cate-pro{
        grid-template-columns: 1fr;
        gap: 2rem;
     }
     .contact-info{
        /* grid-template-columns: 1fr; */
        /* align-items: center; */
        /* gap: 50px; */
        /* justify-content: center; */

     }

}
@media(max-width:500px){
    .test-text{
        grid-template-columns: 1fr;
        height: 100%;
        text-align: center;
        transition: .3s;

    }
}
@media(max-width:500px){
    #menu-icon{
        display: block;
    }
    .navemenu{
       display:block;
    }
    .navemenu a{
        display: block;
        padding: 16px;
        margin: 8px;
        border-left: 2px solid #212832;
    }
     .navemenu .open{
        top: 100%;

     }
}