* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    /* scrollbar-base-color: brown; */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 12%;
    z-index: 1000;
}

.logo img {
    max-width: 100%;
    width: 115px;
    height: auto;
    /* padding: 15px;
    margin-left: -20px; */
}

.navmenu {
    display: flex;
}

.navmenu li {
    position: relative;
    /* padding: 15px; */
}

.navmenu a {
    color: #212832;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 25px;
    /* width: 100%; */
    transition: all .42s;
    text-transform: capitalize;
}

.navmenu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: red;
    left: 0;
    bottom: -2px;
    transition: all .42s;
}

.navmenu a:hover:after {
    width: 100%;
}

.btn-icon {
    display: felx;
    align-items: center;
    /* padding: 20px; */
}

.nav-btn {
    border: 2px solid red;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 20px;
    transition: all .42s;
}

.nav-btn:hover {
    background-color: yellow;
    color: whit;
}

#menu-icon {
    font-size: 35px;
    z-index: 10001;
    display: none;
    color: red;
}

section {
    padding: 60px 12%;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(/images/Decore.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* background: red; */
}

/* .home-img img{
       
    max-width: 100%;
    width: 800px;
    height: auto;
}  */
.home-img img {
   width: 100%;
}

.home-text h4 {
    font-size: 20px;
    color: #d46951;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 65px;
    color: #181E4B;
    margin-bottom: 18px;
    font-weight: 700;
    font-family: 'volkhov';
    line-height: 70px;
    letter-spacing: -0.04em;
}

.home-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
    color: #5E6282;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 10px;
    background: #F1A501;
    transition: all .42s;
}

.btn1:hover {
    transform: translateY(-5px);
}

.btn2 {
    font-size: 16px;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;


}

.btn2 span i {
    width: 52px;
    height: 52px;
    background: #df6951;
    color: white;
    border-radius: 50%;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 15px;
    transition: all .42s;

}

.btn2 span i:hover {
    background: transparent;
    color: #212832;
}

/* =-========sticky design========= */

/* header.sticky{
    background-color: red;
    padding: 22px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition: .43s;
} */
header.sticky {
    background-color: #fff1da;
    padding: 22px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
    transition: .43s;
}

.center-text {
    text-align: center;
}
.bar{
    font-size: 33px;
    cursor: pointer;
    display: none;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
.center-text h4 {
    font-size: 18px;
    color: #5E6282;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.center-text h2 {
    font-size: 50px;
    color: #14183e;
    font-family: 'volkhov';
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 90px;
}

.cate-pro {
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(260px auto)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
}

.row {
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: all .42s;
}

.row img {
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}

.row h5 {
    font-size: 16px;
    color: #1e1d4c;
    font-weight: 600;
    margin-bottom: 15px;
}

.row p {
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
}

.row:hover {
    transform: translateY(-20px);
}

/* =================== Destinations section================= */

.main-dest {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    gap: 2rem;
}

.hov-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all .42s;
}

.Dest-text h5 {
    font-size: 18px;
    color: #5E6282;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.Dest-text h2 {
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'volkhov';
    text-align: center;
    margin-bottom: 50px;

}

.box {
    position: relative;
}

.box .text-in {
    position: absolute;
    bottom: 40px;
    left: 20px;

}

.text-in h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.text-in p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    /* text-transform: capitalize; */
}

.coun-text {
    position: absolute;
    top: 25px;
    left: 20px;

}

.box h6 {
    /* position: relative; */
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.hov-img {
    overflow: hideen;

}

.hov-img:hover img {
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
}

.test-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.left h4 {
    color: #5E6282;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.left h3 {
    color: #14183e;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;

}

.rights img {
    max-width: 100%;
    width: 70px;
    height: 70px;
}

.rights h5 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 3px;
    color: #5E6282;
}

.rights h6 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
    color: #5E6282;

}

.rights p {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    /* margin-bottom: 10px; */
    color: #5E6282;
    line-height: 25px;

}



/* air-office */
.air-office {
    padding-top: 100px;
    padding-bottom: 100px;
}

.office-name {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    align-items: center;
}

.office-name img {
    height: auto;
    width: 170px;
    max-width: 100%;
    transition: all .42s;

}

.office-name img:hover {
    transform: translateY(-5px);
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 2rem;
    align-items: center;
}

.first-info img {
    max-width: 100%;
    width: 120px;
    height: auto;
}

.first-info h6 {
    font-size: 13px;
    line-height: 20px;
    color: #5E6282;
    margin-top: 15px;
    font-weight: 500;
    transition: all .42s;
    cursor: pointer;
}

.first-info h6:hover {
    color: red;
}

.contact-info h4 {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 15px;
    color: #5E6282;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .42s;

}

.contact-info p:hover {
    color: red;
}

.fifth-info .icon a {
    font-size: 20px;
    color: black;
    width: 35px;
    height: 35px;
    background: #F9FAFB;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    transition: all .42s;
}
.fifth-info .icon .grad-icon{
    background: linear-gradient(#ef32d9,#89fffd);
    color: white;
}
.fifth-info .icon a:hover{
    transform: scale(1.1);
}
.fifth-info h5{
    font-size: 16px;
    color: #5E6282;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all .42s;
    cursor: pointer;

}
.fifth-info h5:hover{
    /* transform: scale(1.1); */
    color: red;
}
.img-info img{
    width: 100px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.end-text{
    text-align: center;
    background-color: #181E4B;
    padding: 20px;
}
.footer{
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}


